* {
	box-sizing: block;
	display: block;
	width: 1500px;
	margin: 0 auto;
	background: grey;
	outline: 5px red;
	margin-top: 20px;
	margin-bottom: 20px;
}

img {
	width: 335px;
	height: 251px;
}

ul ol {
	height: 200px;
}

h2 {
	margin-top: 70px;
	margin-left: 0px;
}

a {
	padding: 0px;
}

title {
	display: none;
}
